<ul class="nav nav-pills" id="mainNav">
    <li class="dropdown">
        <a class="dropdown-item" href="/">
            Home
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-item" href="/Faq">
            FAQ
        </a>
    </li>
</ul>